.cast{
    display:flex;
    flex-wrap:wrap;
    gap:40px;
    list-style: none;
    font-weight: 500;
    font-size: 15px;
    padding: 0;
    margin:30px auto;
}
.castItem{
     margin: 0;
     padding-top:10px;
     box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.15);
     width:209px;
     border-left:solid 1px rgb(204, 202, 202);
     
}
.castItemPhoto{
    display:block;
    margin:10px auto;
    padding:0;
}
.defaultCastItemPhoto{
    height:205px;
    display: block;
        margin: 20px auto;
        padding: 0;
}
.castItemName{
    padding-left:20px;
    color:grey;
}
.castItemCharacter{
    padding-left: 20px;
    color: rgb(61, 59, 59);
}