.addInfo {
    font-size: 20px;
    font-weight: 700;
    color: blue;
    display: flex;
    flex-direction: column;
}

.addInfoiItem {
    list-style: none;
    margin-top: 15px;
    display:block;
    max-width:200px;
    border-bottom:solid 1px blue;
    font-weight: 600;
    height: 30px;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.15);
    text-align: center;
} 

.addInfoLink {
    color: black;
    text-decoration: none;
    color:blue;
}

.addInfoList {
    margin: 0;
    padding:0;
}

.addInfoTitle {
    font-size: 20px;
    margin-bottom: 15px;
}