.wrapper{
    display:flex;
}

.movieInfo{
    font-size:20px;
    font-weight: 700;
    color:blue;
    list-style: none;
}
.movieInfoItem{
    font-size:16px;
    font-weight: 600;
    color:black;
    margin-top: 20px;

}
.movieInfoItemText{
font-weight: 400;
}

.addInfo{
    font-size: 20px;
    font-weight: 700;
    color: blue;
    display:flex;
    flex-direction: column;
}

.addInfoiItem{
   list-style: none;
   margin-top: 15px;
   
   font-weight: 600;
}

.addInfoLink{
color: black;
}

.addInfoList{
    margin:0;
}
.addInfoTitle{
    font-size: 20px;
    margin-bottom: 15px;
}
