
.searchForm{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 600px;
        background-color: #fff;
        border-radius: 3px;
        overflow: hidden;
       
        border-bottom: solid 1px blue;
        box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.15);
        
    }
.button{
        display: inline-block;
            width: 88px;
            height: 32px;
            border: 0;
            opacity: 1;
            
            cursor: pointer;
            outline: none;
            font-size: 18px;
            background-color: blue;
            color:aliceblue;
            
    }

    
        .input{
               display: inline-block;
                width:100%;
                font: inherit;
                font-size: 15px;
                border: 0;
                outline: none;
                padding-left: 20px;
                padding-right: 4px;
                height: 28px;
                color:blue;
               
        }
        .input::marker{
            background-color: #fff;
        }
        .label{
            width:100% ;
            display: inline-block;
            border: 0;

        }
               