.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    padding: 8px 0;
    margin-bottom: 16px;
    border-bottom: 1px solid blue;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.15);

}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 16px;
}

.nav {
    display: flex;

}

.navLink {
    text-decoration: none;
    color: blue;
    border: none;
    background-color: none;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    padding: 8px 16px;

}

.active {
    color: white;
    border: none;
    background-color: blue;
    text-decoration: none;
    font-size: 15px;
        font-weight: 700;
        text-align: center;
        padding: 8px 16px;
}

/* .navLink:hover {
    color: white;
    border: none;
    background-color: blue;
}

.navLink:focus {
    color: white;
    border: none;
    background-color: blue;
} */